.container-contato {
    background:#191919;
    padding: 4em 0;
    h3 {
        text-align:center;
        color:#fff;
        padding-bottom: 2em;
    }
    button {
        
        margin: auto
    }
}